<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" autocomplete="off">
                <div class="modal-header new-modal-header">
                    <h4 class="modal-title">       
                        <b>更新日志（更新时间2019-5-23）</b>            
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body new-view-detail">
                    <div class="form-body">
                        <div class="form-group">
                            <ul class="announcementlist">
                                <li><b>2019-5-23</b></li>
                                <li><b>1）更新联盟商家区域选择</b></li>
                                <li><b>2019-4-23</b></li>
                                <li><b>1）更新合伙人添加筛选显示</b></li>
                                <li><b>2）联盟商家功能迭代</b></li>
                                <li><b>3）增加特权开放字段</b></li>
                                <li><b>4）增加油小密订单发货功能</b></li>
                                <li><b>5）增加净水器订单页面</b> 入口在订单频道的油小密栏目下净水器订单列表</li>
                                <li><b>6）增加净水器报表页面</b> 入口在订单频道的油小密栏目下净水器报表列表</li>
                                <li><b>7）增加系统文件页面</b> 入口在智慧油联频道的基础设置栏目下系统文件</li>
                                <li><b>2019-4-13</b></li>
                                <li><b>1）全局增加图片上传412 code返回message</b></li>
                                <li><b>2）特权增加来源类型字段</b></li>
                                <li><b>3）油小蜜增加优客订单筛选，订单显示message</b></li>
                                <li><b>4）商学院增加视频，音频上传功能</b></li>
                                <li><b>5）修复圈存编辑中石化卡号问题</b></li>
                                <li><b>6）扩展基础设置APP小广告轮播图，火车票首页轮播图上传图片功能</b></li>
                                <li><b>2019-4-1</b></li>
                                <li><b>1）增加特权banner轮播</b></li>
                                <li><b>2）增加油小蜜订单退款功能</b></li>
                                <li><b>3）修复圈存失败时订单能重新圈存功能</b></li>
                                <li><b>4）增加油小蜜订单确认收货功能</b></li>
                                <li><b>5）增加特权外链功能</b></li>
                                <li><b>6）重构商品频道所有功能</b></li>
                                <li><b>2019-3-18</b></li>
                                <li><b>1）修复圈存状态为失败时，能够重新圈存</b></li>
                                <li><b>2）增加特权用户更新接口</b></li>
                                <li><b>2019-3-12</b></li>
                                <li><b>1）特权，特权订单备注强化编辑框</b></li>
                                <li><b>2）修复手工圈存时备注清空bug，及圈存失败状态禁用选择</b></li>
                                <li><b>3）增加特权用户页面</b>入口在订单频道的油小蜜栏目下用户列表</li>
                                <li><b>2019-3-8</b></li>
                                <li><b>1）增加用户反馈页面</b>入口在数据报表频道的反馈中心栏目下用户反馈列表</li>
                                <li><b>2）修复全部条件搜索的时间搜索</b>将世界时间转换成北京时间</li>
                                <li><b>3）油卡圈存功能增加</b>增加充值明细，聚合充值</li>
                                <li><b>4）增加退款页面</b>入口在订单频道的订单管理栏目下退款列表</li>
                                <li><b>5）增加订单列表退款功能</b></li>
                                <li><b>6）增加订单列表退款页面权限</b></li>
                                <li><b>7）增加油小蜜特权页面</b>入口在订单频道的油小蜜栏目下特权列表</li>
                                <li><b>8）增加油小蜜订单页面</b>入口在订单频道的油小蜜栏目下油小蜜订单列表</li>
                                <li><b>2019-2-18</b></li>
                                <li><b>1）整合数据报表频道</b></li>
                                <li><b>2）增加分公司销售报表页面</b>入口在数据报表频道的会员报表栏目下分公司销售列表</li>
                                <li><b>3）增加销售排行榜页面</b>入口在数据报表频道的会员报表栏目下销售排行榜列表</li>
                                <li><b>4）增加会员收益排行榜页面</b>入口在数据报表频道的会员报表栏目下会员收益排行榜列表</li>
                                <li><b>4）增加油卡圈存列表功能增加</b>增加一个充值卡类型筛选条件</li>
                                <li><b>2019-1-28</b></li>
                                <li><b>1）优惠券方案功能增加</b>优惠券方案，用户优惠券增加禁用转赠字段</li>
                                <li><b>2）增加佣金分析页面</b>入口在智慧油联频道的系统分析栏目下佣金分析列表</li>
                                <li><b>3）增加商学院文章页面</b>入口在设置频道的消息中心栏目下文章列表</li>
                                <li><b>4）增加消息推送页面</b>入口在设置频道的消息中心栏目下推送列表</li>
                                <li><b>2019-1-10</b></li>
                                <li><b>1）增加油卡列表页面</b>入口在客户频道的会员中心栏目下油卡列表</li>
                                <li><b>2）更换分销商升级时的等级接口</b></li>
                                <li><b>3）更新会员详细页部份功能</b> 会员列表增加实名验证，油卡字段，去掉出生日期，用户邮箱，用户名，地址字段</li>
                                <li><b>4）新增油豆日志页面</b> 入口在智慧油联频道的分析系统栏目下油豆分析</li>
                                <li><b>5）新增到帐计划页面</b> 入口在智慧油联频道的分析系统栏目下油豆分析</li>
                                <li><b>6）储值卡列表功能增加</b> 增加两个搜索条件，列表两列信息</li>
                                <li><b>2019-1-3</b></li>
                                <li><b>1）优惠券方案功能增加</b> 增加两个搜索条件，列表四列信息，编辑弹窗五个字段</li>
                                <li><b>2）用户优惠券功能增加</b> 增加两个搜索条件，列表四列信息</li>
                                <li><b>2018-12-28</b></li>
                                <li><b>1）增加下载充值记录XlS</b> 入口在智慧油联频道的业务中心栏目下交费列表</li>
                                <li><b>2）增加下载圈存记录XlS</b> 入口在智慧油联频道的业务中心栏目下的油卡圈存</li>
                                <li><b>3）增加全国会员分布图</b > 入口在客户频道的会员报表栏目下的全国会员分布</li>
                                <li><b>4）增加后台添加新用户</b > 入口在客户频道的会员中心栏目下的会员列表</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer new-modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>