<div class="m-grid__item-wrapper">
    <div  id="m_aside_left" class="m-grid__item m-aside-left">
      <div id="m_ver_menu"> 
          <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
              <li class="m-menu__item ">
                <a routerLink="{{FirstMenu[0].url}}" class="m-menu__link ">
                  <i class="m-menu__link-icon flaticon-line-graph"></i>
                  <span class="m-menu__link-title">    
                      <span class="m-menu__link-text">{{FirstMenu[0].name}}</span>  
                  </span>
                </a>
              </li>
         </ul>
      </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <h1>
            这是进入后台主显示页面
          </h1>
          <div>
          
            9大模块及其路径
            <ul>
              <li>油联 \src\app\modules\youlian</li>
              <li>商品 \src\app\modules\product</li>
              <li>订单 \src\app\modules\orders</li>
              <li>客户 \src\app\modules\client</li>
              <li>财务 \src\app\modules\finance</li>
              <li>数据 \src\app\modules\data</li>
              <li>分销 \src\app\modules\distribution</li>
              <li>数字资产 \src\app\modules\digitalassets</li>
              <li>设置 \src\app\modules\settings</li>
              <li>服务 \src\app\service\下面的共公文件 </li>
            </ul>
          
            *.component.spec.ts为测试文件，可以删除；
            <h1>\src\styles.css 为全局样式路径</h1>
          </div>
    </div>
</div>