<div [@routerTransition]>
    <div class="d-flex align-items-center">
        <div class="mr-auto col-xs-6">
            <h3 class="m-subheader__title">
                <span>会员支付记录</span>
            </h3>
        </div>
    </div>
    <app-payrecord-search (ListenSearch)="getSearchData($event)"></app-payrecord-search>
    <div class="row">
        <div class="col-md-12">
            <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                <div class="new-table-scrollable">
                    <div class="totalCount"><span>共{{primengDatatableHelper.totalRecordsCount}}条记录</span></div>
                    <p-dataTable #dataTable
                            (onLazyLoad)="getPayRecordList($event)"
                            [value]="primengDatatableHelper.records"
                            rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                            [paginator]="false"
                            [lazy]="true"
                            emptyMessage="{{l('NoData')}}"
                            scrollable="true"
                            ScrollWidth="100%"
                            responsive="primengDatatableHelper.isResponsive">
                        <p-column field="serialnumber" header="#" [style]="{'width':'60px','text-align':'center'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.serialnumber}}
                            </ng-template>
                        </p-column>
                        <p-column field="platformUser" header="平台用户">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.platformUser}}
                            </ng-template>
                        </p-column>
                        <p-column field="rescueMember" header="救助会员">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.rescueMember}}
                            </ng-template>
                        </p-column>
                        <p-column field="fundNo" header="救助基金编号">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.fundNo}}
                            </ng-template>
                        </p-column>
                        <p-column field="type" header="支付类型">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.type}}
                            </ng-template>
                        </p-column>
                        <p-column field="amount" header="金额">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.amount}}
                            </ng-template>
                        </p-column>
                        <p-column field="method" header="支付方式">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.method}}
                            </ng-template>
                        </p-column>
                        <p-column field="paydate" header="支付时间">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.paydate | date:"yyyy-MM-dd HH:mm:ss"}}
                            </ng-template>
                        </p-column>
                        <p-column field="orderNo" header="第三方支付单号">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{record.orderNo}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="primeng-paging-container" style="margin-top: 10px">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                #paginator
                                (onPageChange)="getPayRecordList($event)"
                                [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>